.lotto-container {
    width: 100%;
    max-width: 1320px;
    font-size: 13px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    background-color: #f9f9f9;
}
.banner {
    text-align: center;
}
.banner img {
    max-width: 100%;
}
.lotto-container h3::before {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 12px;
    width: 3px;
    content:"";
    border-radius: 3px;
    background-color: #ffffff;
}
.lotto-container h3 {
    position: relative;
    padding: 11px 36px 11px 27px;
    font-size: 1.07692308em;
    border-radius: 3px;
    background-color: #e3221a;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.accordions {
    height: auto;
}
.accordions {
    display: block;
}
.open {
    display: block !important;
}
.accordions .accordion h4 {
    padding: 7px 40px 7px 26px;
    font-size: 0.92307692em;
    line-height: 1.16666667em;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    position: relative;
}
.accordions .accordion h4 span {
    position: absolute;
    font-size: 9px;
    margin-left: 4px;
    top: 5px;
}
.accordions .accordion {
    margin-bottom: 2px;
}
.accordions .accordion .accordion-body, .accordions .accordion .accordion-body .past-results {
    display: none;
}
.accordions .accordion:after, .accordions .accordion .content:after, .accordions .accordion .content div.icon {
    content: "";
    clear: both;
    display: block;
}
.accordions .accordion .content {
    min-height: 101px;
    border-radius: 3px;
}
.accordions .accordion .content div.result-set:after, 
.accordions .accordion .content div.date-amount:after,
.accordions .accordion .past-results .content .result-row div.result-set:after,
.accordions .accordion .past-results .content .result-row div.date-amount:after {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 12px;
    width: 1px;
    content:"";
    border-radius: 3px;
    background-color: #CCCCCC;
}
.accordions .accordion .content > div {
    height: auto;
    padding: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    line-height: 40px;
    position: relative;
}
.accordions .accordion .content > div.more {
    padding-left: 0px;
}
.accordions .accordion .content div.float {
    float: left;
}
.accordions .accordion .content div.float.icon {
    width: 20%;
}
.accordions .accordion .content div.float.date-amount {
    width: 30%;
}
.accordions .accordion .content div.float.result-set {
    width: 39%;
}
.accordions .accordion .content div.more, .accordions .accordion .content div.less {
    width: 11%;
    float: left;
    cursor: pointer;
    text-decoration: underline;
}
.accordions .accordion .content div.icon {
    position: relative;
}
.accordions .accordion .content div img {
    width: 47%;
    height: auto;
    /* display: block; */
    
    text-align: left;
    /* margin: auto; */
}
.accordions .accordion .content div.more img {
    max-width: 100%;
    margin: 1px;
    width: 150px;
}
.accordions .accordion .content div.result-set span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 5px;
    background-color: #a9ce00;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    margin-right: 5px;
    line-height: 22px;
    margin-bottom: 10px;
}
.ball-last {
    margin-left: 22px;
}
.accordions .accordion .content div span.small-balls {
    width: 18px;
    height: 18px;
    font-size: 17px;
    margin-right: 5px;
    line-height: 18px;
}
.accordions .accordion .past-results .content {
    margin-top: 5px;
    margin-bottom: 0px;
    border-top: 1px solid #CCCCCC;
    max-height: 217px;
    overflow: auto;
}
.result-row {
    border-bottom: 1px solid #CCCCCC;
    height: auto;
    overflow: hidden;
}
.accordions .accordion .content {
    margin-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
}
.date {
    padding: 0 47px 0 0;
    width: 218px;
    position: relative;
}
.cal {
    background: url(../img/ico_calendar.png) no-repeat right center;
    position: absolute;
    top: -2px;
    right: 37px;
    width: 40px;
    height: 40px;
}
.datepicker {
    border: none;
    border-bottom: 2px solid #9d9d9d;
    padding: 5px 0 5px 10px;
    font-size: 20px;
    width: 218px;
}
.error {
    color: red;
}
.accordions .accordion .past-results .content div {
    padding: 5px;
}
.accordions .accordion .past-results .content div.result-set span {
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
}
.fa-spin-custom {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.load-more-containter {
    text-align: center;
    margin: 10px;
}
.load-more {
    width: 190px;
    height: 48px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #323d51;
    border: 3px solid #323d51;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.load-more[disabled="disabled"] {
    display: none;
}
.next-draw-timer {
    font-size: 14px;
}
@media screen and (max-width: 836px) {
    .accordions .accordion .content div.draw-date span {
        display: block;
    }
}
@media screen and (max-width: 740px) {
    .accordions .accordion .content {
        min-height: 467px;
    }
    .accordions .accordion .content .result-set {
        margin-top: -10px;
    }
    .accordions .accordion .past-results .content > div {
        line-height: 0;
    }
    .accordions .accordion .content div.float.icon,
    .accordions .accordion .content div.float.date-amount,
    .accordions .accordion .content div.float.result-set {
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }
    .accordions .accordion .content div.more, .accordions .accordion .content div.less, .accordions .accordion .content div.icon {
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }
    .accordions .accordion .content div.more, .accordions .accordion .content div.less {
        margin-top: -20px;
    }
    .accordions .accordion .past-results .content div.more, .accordions .accordion .past-results .content div.less .accordions .accordion .past-results .content div.icon {
        display: none;
    }
    .accordions .accordion .content div.result-set:after, 
    .accordions .accordion .content div.date-amount:after,
    .accordions .accordion .past-results .content .result-row div.result-set:after,
    .accordions .accordion .past-results .content .result-row div.date-amount:after {
        background-color: transparent;
    }
    .accordions .accordion .content div.icon {
        /* margin-bottom: 38px; */
        /* margin-left: -40px; */
    }
    .accordions .accordion .content div.more img {
        width: 18%;
    }
    .accordions .accordion .content div img {
        width: 180px;
        height: auto;
    }
    .accordions .accordion .content div.date-amount {
        font-size: 20px;
        /* margin-bottom: -10px; */
    }
    .accordions .accordion .past-results .content div.date-amount {
        line-height: 30px;
    }
    .accordions .accordion .past-results .content div.date-amount {
        font-size: 20px;
        margin: 10px 0px 20px 0px;
    }
    .accordions .accordion .content div.result-set span {
        width: 29px;
        height: 29px;
        font-size: 20px;
        line-height: 29px;
    }
    .accordions .accordion .content div.date-amount span {
        display: block;
    }
    .accordions .accordion .content div.date-amount .draw-date{
        line-height: 38px;
    }
    .accordions .accordion .past-results .content div.result-set span {
        width: 26px;
        height: 26px;
        line-height: 26px;
        font-size: 16px;
    }
}
@media screen and (max-width: 640px) {
    .accordions .accordion .content div.more img {
        width: 23%;
    }
}
@media screen and (max-width: 480px) {
    .accordions .accordion .content div.more img {
        width: 30%;
    }
}
.tab-header ul {
    min-height: 20px;
}
.tab-header ul li {
    float: left;
    list-style: none;
    width: 25%;
    text-align: center;
    cursor: pointer;
    color: #8c99a0;
    font-weight: bold;
    padding: 2px 0;
    font-size: 15px;
    position: relative;
}
.tab-header ul li span:first-of-type {
    font-size: 9px;
    position: absolute;
    margin-left: -2px;
}
.tab-header ul li:last-of-type span:first-of-type {
    margin-left: 2px;
}
.tab-header ul li:first-of-type span:last-of-type {
    margin-left: 13px;
}
.tab-header ul li span:last-of-type {
    margin-left: 40px;
}
.tab-header ul li:last-of-type span:last-of-type {
    margin-left: 38px;
}
.tab-header ul li.active {
    color: #313c50;
}
.tab-header .tab-header-border {
    height: 4px;
    background-color: #bcbabb;
    margin-bottom: 12px;
    margin-top: -4px;
}
.tab-header .tab-header-border div {
    height: 4px;
    width: 25%;
    float: left;
    position: relative;
}
.tab-header .tab-header-border div.active {
    background-color: #313c50;
}
.tab-header-border div.active div.flag {
    width: 0px !important;
    height: 0px !important;
    border-width: 12px 12px 0;
    border-style: solid;
    border-color: #313c50 transparent transparent;
    position: absolute;
    left: 50%;
}
.tab-container .tab {
    display: none;
}
.tab-container .tab.active {
    display: block;
}
.result-set span:last-of-type {
    position: relative;
}
.plus {
    height: 24px;
    width: 24px;
    display: inline-block;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.plus::before {
    position: absolute;
    right: 37px;
    color: black;
    content: "+";
    font-size: 24px;
}
@media screen and (max-width:740px) {
    .plus::before {
        right: 43px;
    }
}
@media screen and (max-width:700px) {
    .tab-header ul li {
        font-size: 10px;
    }
    .tab-header ul li span:first-of-type {
        top: 0;
    }
}
@media screen and (max-width: 636px) {
    .tab-header ul li span:last-of-type {
        margin-left: 35px;
    }
}
@media screen and (max-width: 550px) {
    .tab-header ul {
        padding-left: 0px;
    }
    .tab-header ul li {
        text-align: center;
        font-size: 0.5rem;
    }
    .tab-header-border div.active div.flag {
        left: 41%;
    }
    .tab-header ul li span:first-of-type {
        top: 0;
    }
    .tab-header ul li span:first-of-type {
        font-size: 0.4rem;
    }
    .tab-header ul li:first-of-type span:last-of-type {
        margin-left: 7px;
    }
    .tab-header ul li span:last-of-type {
        margin-left: 27px;
    }
}
@media screen and (max-width: 420px) {
    .tab-header ul li {
        text-align: center;
        font-size: 8px;
    }
    .tab-header ul li span:first-of-type {
        font-size: 5px;
    }
    .tab-header ul li:first-of-type span:last-of-type {
        margin-left: 6px;
    }
    .tab-header ul li span:last-of-type {
        margin-left: 19px;
    }
    .tab-header ul li span:first-of-type .minspan {
        margin-left: 4px;
    }
    .tab-header ul li:last-of-type span:last-of-type {
        margin-left: 30px;
    }
}